<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".GetRewaredApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetRewarded"
        tools:targetApi="31">
        <activity
            android:name=".Login.RegisterUserActivity"
            android:exported="false" />

        <activity
            android:name=".Login.LoginActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.AddRewardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.RewardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.AddTaskScreen"
            android:exported="false" />
        <activity
            android:name=".ui.screens.TaskListScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <receiver android:name=".Reciver.ReminderReceiver" />
    </application>

</manifest>